* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Verdana, Arial, sans-serif;
}

main {
    height: 100%;
}

header h1 {
    padding-right: 20px;
    margin-bottom: -0.5em;
    border: 10px;
    text-align: center;
}

.top {
    border-style: solid;
    background-color: hsla(200, 100%, 60%, 0.4);
    width: 100%;
    height: 100%;
}

nav ul {
    text-align: center;
    margin-right: .5em;
}

nav li {
    display: inline-block;
    background-color: lightblue;
    padding: 5px;
    width: 7em;
    text-align: center;
    border: solid;
    font-size: 20px;
    font-style: oblique;
}

body {
    font-size: 20px;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSLo5ikwfFdeWEa91k6fCvlCrHhcvYczKKmU5YBIzskyRMcwRvXFA);
    background-size: 100%;
}

section h2 {
    padding-left: 10px;
    margin: 0px
}

h4 {
    text-align: center;
}

h4 + h4 {
    margin-top: -.5em;
    text-align: center;
    font-size: 30px;
    margin-bottom: -0.8em;
}

img {
    margin-left: 1em;
}

section p {
    padding: 1em;
    margin-bottom: -0.8em;
}

.temp-box {
    width: 100%;
    height: 270px;
}

footer {
    margin-left: 0.5em;
}

.middle table,
td {
    margin-top: 10px;
    font-size: 20px;
}

.middle table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 70px;
    margin-left: 30px;
}

.middle td {
    padding: 10px;
}

.hide {
    display: none;
}

@media screen and (min-width: 32em) {
    section h2 {
        text-align: center;
    }
    nav ul {
        text-align: right;
    }
    .hide {
        display: block;
    }
    .hide h5 {
        margin-left: 1em;
    }
    .hide table,
    tr,
    th,
    td {
        border: 1px solid black;
        font-size: 25px;
    }
    .hide table {
        width: 100%;
        border-collapse: collapse;
    }
    .hide td {
        text-align: center;
        padding: 10px;
    }
}

@media screen and (min-width: 60em) {
    .top h4 {
        font-size: 30px;
    }
    .top h2 {
        font-size: 40px;
    }
    .temp-box p {
        margin-top: 0px;
    }
    section h2 {
        text-align: left;
        padding-left: 1em;
    }
    section h4 {
        text-align: left;
        margin-bottom: 6px;
        padding-left: 1em;
    }
    section h4 + h4 {
        padding-left: 3em;
        margin-bottom: 2px;
    }
}