* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Verdana, Arial, sans-serif;
}

main {
    height: 100%;
}

header h1 {
    display: flex;
    justify-content: center;
    padding-right: 20px;
    margin-bottom: -0.5em;
    border: 10px;
}

.top {
    border-style: solid;
    background-color: hsla(200, 100%, 60%, 0.4);
    width: 100%;
    height: 100%;
}

.high {
    width: 400px;
    margin-left: 10px;
}

nav ul {
    margin-right: .5em;
    display: flex;
    justify-content: flex-end;
}

nav li {
    display: flex;
    justify-content: center;
    background-color: hsla(200, 100%, 60%, 0.4);
    padding: 5px;
    width: 7em;
    border: solid;
    font-size: 20px;
    font-style: oblique;
}

body {
    font-size: 20px;
    width: 100%;
    height: 100%;
    margin: 0px;
}

body.frank {
    background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSLo5ikwfFdeWEa91k6fCvlCrHhcvYczKKmU5YBIzskyRMcwRvXFA);
    background-size: cover;
}

body.greenville {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSU3aiALKCVFnQk7z59kxMC_3XuhJmoL48PkCrYV7-iiKi3iz8Ozw);
    background-size: cover;
}

.last,
.bottom,
.high,
.second,
.one1,
.two2 {
    background-color: hsla(600, 50%, 80%, 0.4);
}

section h2 {
    padding-left: 10px;
    margin: 0px
}

h4 {
    display: flex;
    justify-content: center;
}

h4 + h4 {
    display: flex;
    justify-content: center;
    margin-top: -.5em;
    font-size: 30px;
    margin-bottom: -0.8em;
}

img {
    margin-left: 1em;
}

section p {
    padding: 1em;
    margin-bottom: -0.8em;
}

.temp-box {
    width: 100%;
    height: 270px;
}

footer {
    margin-left: 0.5em;
}

.first,
.last {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    width: 250px;
    margin-left: 20px;
}

.one,
.two,
.one1,
.two2 {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0px;
    margin: -1px;
}

.one li,
.two li,
.one1 li,
.two2 li {
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 40px;
    justify-content: center;
    padding: 5px;
}

.hide h5 {
    margin-left: 20px;
}

@media screen and (min-width: 32em) {
    section h2 {
        display: flex;
        justify-content: center;
    }
    nav ul {
        display: flex;
        justify-content: center;
    }
    .top,
    .high {
        width: 400px;
        margin-left: 180px;
    }
    .hide h5 {
        margin-left: 1em;
        font-size: 20px;
    }
    .first,
    .last {
        margin-left: 250px;
    }
}

@media screen and (min-width: 60em) {
    .top h4,
    .high h4 {
        font-size: 30px;
    }
    .top h2,
    .high h2 {
        font-size: 40px;
    }
    .top,
    .high {
        width: 400px;
        margin-left: 10px;
    }
    .temp-box p {
        margin-top: 0px;
    }
    section h2 {
        display: flex;
        justify-content: center;
    }
    section h4 {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    section h4 + h4 {
        display: flex;
        justify-content: center;
        margin-bottom: 4px;
    }
    .first,
    .last {
        margin-left: 20px;
    }
    nav ul {
        display: flex;
        justify-content: flex-end;
    }
}